version: '3'
services:
  mysql:
    platform: linux/x86_64 #M1チップ対応のためプラットフォームを指定
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: #ここが空白
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      TZ: Asia/Tokyo
    volumes:
      - "./mysql/db-data/:/var/lib/mysql"
      - "./mysql/my.cnf:/etc/mysql/conf.d/my.cnf" #データで日本語を使うために必要
  app:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    volumes:
      - .:/syllabus
    stdin_open: true # -iオプションと同義
    tty: true #　-tオプションと同義